#info {
  width: 30%;
  height: auto;
  padding: 0 auto;
  text-align: center;
}

#info span {
  display: inline-block;
}

#info span:hover {
  cursor: pointer;
}

#info h5 {
  display: inline-block;
}


.dias {
  display: inline-block;
  width: 14%;
  text-align: center;
}

.dias_n {
  display: inline-block;
  width: 14%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.row {
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.row p {
  text-align: center;
}

.row p:hover {
  cursor: pointer;
}

.noActual {
  color: #6c757d;
}

.siActual {
  color: red;
}

.active{
  color: red;
  background-color: blue;
}

.pressed {
  border: #bb3300 1px solid;
}

#error {
  color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
